{% extends "base.html" %}

{% block title %}Home | DevOps Assistant{% endblock %}

{% block content %}
<h1>DevOps Assistant Web</h1>

<p>Ambiente de estudo DevOps com análise de código, labs e documentação.</p>

<div class="tech-icons">

    <i class="devicon-linux-plain"></i>
    <i class="devicon-docker-plain"></i>
    <i class="devicon-terraform-plain"></i>
    <i class="devicon-kubernetes-plain"></i>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    <i class="devicon-git-plain"></i>

</div>

{% endblock %}