<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevOps Assistant{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/htmx.min.js"></script>
</head>

<body>

<div class="layout">

    <div class="sidebar">
        {% include "partials/sidebar.html" %}
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>